body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f6f8;
    margin: 0;
}

/* NAVBAR */

.navbar {
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.nav-links a {
    margin-left: 25px;
    text-decoration: none;
    color: #555;
    font-size: 15px;
    transition: color 0.2s ease;
}

.nav-links a:hover {
    color: #000;
}

/* CONTENEDOR GENERAL */

.container {
    width: 60%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

/* TABLAS GENERALES */

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 12px;
    border-bottom: 2px solid #ddd;
}

td {
    padding: 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background-color: #f9f9f9;
}

/* FORMULARIOS GENERALES */

form {
    display: flex;
    gap: 10px;
    align-items: center;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


/** VISTA GUARDIAS**/


.ausente {
    color: #E5BE01;
    font-weight: bold;
}

/* Profesor asignado */
.asignado {
    color: #28a745;
    font-weight: bold;
}

.sin-disponibles {
    color: #dc3545;
    font-weight: bold;
}

.sin-guardias {
    color: #666;
    font-style: italic;
    margin-top: 10px;
}


.form-inline {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
}

.btn-asignar {
    padding: 6px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-asignar:hover {
    background-color: #0056b3;
}