{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Asignación de guardias</h1>

    <table>
        <tr>
            <th>Aula</th>
            <th>Hora</th>
            <th>Profesor</th>
            <th></th>
        </tr>

        {% for g in guardias %}

        {% if g.asignada %}

        <tr>
            <td>{{ g.aula }}</td>
            <td>{{ g.hora }}</td>
            <td class="asignado"> {{ g.profesor[1] }}</td>
            <td>✔️</td>
        </tr>

        {% else %}

        <form method="POST" action="/asignar_guardia">
        <tr>
            <td>{{ g.aula }}</td>
            <td>{{ g.hora }}</td>

            <td>
                <select name="profesor_id">
                    <option value="">-- Seleccionar profesor --</option>

                    {% for p in g.profesores %}
                        <option value="{{ p[0] }}">{{ p[1] }}</option>
                    {% endfor %}
                </select>
            </td>

            <td>
                <input type="hidden" name="aula" value="{{ g.aula }}">
                <input type="hidden" name="hora" value="{{ g.hora }}">

                <button class="btn-asignar" type="submit">
                    Asignar
                </button>
            </td>
        </tr>
        </form>

        {% endif %}

        {% endfor %}

    </table>

</div>

{% endblock %}