{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Guardias</h1>
    <p class="fecha">Fecha: {{ fecha }}</p>

    <table>
        <tr>
            <th>Hora</th>
            <th>Aula</th>
            <th>Profesor ausente</th>
            <th>Profesor que cubre</th>
        </tr>

        {% for g in guardias %}

        <tr>
            <td>{{ g.hora }}</td>
            <td>{{ g.aula }}</td>

            <td class="ausente">
                ❌ {{ g.ausente_nombre }}
            </td>

            <td>
                {% if g.id_profesor_cubre %}
                    ✔️ {{ g.cubre_nombre }}
                {% else %}
                    <span class="pendiente">Pendiente</span>
                {% endif %}
            </td>
        </tr>

        {% endfor %}

    </table>

</div>

{% endblock %}